{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

	<form id="create-event" method="POST">
    <label for="title">Event title:</label>
    <input type="text" name="title">
    
    <label for="location">Event Location:</label>
    <input type="text" name="location">
    
    <label for="image">Event Image:</label>
    <input type="text" name="image">
    
    <label for="year">Event Year:</label>
    <input type="text" name="year" min="2015" max="2016" step="1">
        
    <label for="month">Event Month:</label>
    <select name="month">
      <option value="0">January</option>
      <option value="1">February</option>
      <option value="2">March</option>
      <option value="3">April</option>
      <option value="4">May</option>
      <option value="5">June</option>
      <option value="6">July</option>
      <option value="7">August</option>
      <option value="8">September</option>
      <option value="9">October</option>
      <option value="10">November</option>
      <option value="11">December</option>
    </select>
    
    <label for="day">Event Day:</label>
    <input type="text" name="day">
    
    <label for="hour">Event hour:</label>
    <input type="text" name="hour">
    
    <label for="minute">Event Minute:</label>
    <input type="text" name="minute">
    
    <input type="submit" id="submit" value="Submit">
    
<!--location image year month day hour minute-->
    
  </form>
{% endblock %}


