<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
  </head>

	<body class="container">

    {% block header %}
      <div class="page-header">
        <header><h2>Bro, it's dusty wind.</h2></header>
      </div>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
        <a href="/">Home</a> | <a href="/about">About Dusty-Wind</a> 
        </footer>
    {% endblock %}

  </body>
</html>